# =========================
# Frontend
# =========================
client_side/node_modules/
client_side/dist/
client_side/.env
client_side/.env.local
client_side/.env.development
client_side/.env.production
client_side/.env.*.local

# =========================
# Spring Boot
# =========================
Ecommerce_backend/target/

# Eclipse / STS
Ecommerce_backend/.metadata/
Ecommerce_backend/.classpath
Ecommerce_backend/.project
Ecommerce_backend/.settings/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Environment
# =========================
.env
.env.local
.env.*.local

# =========================
# OS / Logs
# =========================
.DS_Store
Thumbs.db
*.log